[submodule "vim/vim.symlink/bundle/sensible"]
	path = vim/vim.symlink/bundle/sensible
	url = git@github.com:tpope/vim-sensible.git
[submodule "vim/vim.symlink/bundle/numbertoggle"]
	path = vim/vim.symlink/bundle/numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim/vim.symlink/bundle/ledger"]
	path = vim/vim.symlink/bundle/ledger
	url = git@github.com:ledger/vim-ledger.git
[submodule "vim/vim.symlink/bundle/vim-colors-pencil"]
	path = vim/vim.symlink/bundle/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "git/git-cascade"]
	path = git/git-cascade
	url = https://github.com/cool-RR/git-cascade.git
[submodule "vim/vim.symlink/bundle/vim-rust"]
	path = vim/vim.symlink/bundle/vim-rust
	url = https://github.com/wting/rust.vim.git
